**/*
!clasificacion_humedales/*
!setup.py
!requirements.txt
Explora
.idea
clasificacion_humedales/venv/
clasificacion_humedales/.idea
tesis_latex/.vscode/
clasificacion_humedales/.ipynb_checkpoints
clasificacion_humedales/__pycache__
clasificacion_humedales/.vscode
outputs/*
inputs/*
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.out
*.log
*.aux
*.toc
*.pyc
tesis_latex/tesis.synctex.gz
/clasificacion_humedales.egg-info/
build
dist
.ipynb_checkpoints/

